Make/Consultar_disponibilidad_horario.json
{
    "name": "Consultar_disponibilidad_horario",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1362491,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -392,
                    "y": -6
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "consultar_disponibilidad_horario"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "fecha",
                        "type": "text"
                    },
                    {
                        "name": "id_especialidad",
                        "type": "text"
                    },
                    {
                        "name": "especialidad",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Fecha",
                "scope": "roundtrip",
                "value": "{{formatDate(now; \"DD.MM.YYYY\"; \"America/Lima\")}}"
            },
            "metadata": {
                "designer": {
                    "x": -17,
                    "y": -7
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Fecha",
                        "type": "any",
                        "label": "Fecha"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Hora",
                "scope": "roundtrip",
                "value": "{{formatDate(now; \"HH:mm\"; \"America/Lima\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 285,
                    "y": -12
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Hora",
                        "type": "any",
                        "label": "Hora"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:filterRowsAdvanced",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2621913
            },
            "mapper": {
                "tq": "SELECT * WHERE B = DATE '{{1.fecha}}'",
                "select": "map",
                "sheetId": "{{1.id_especialidad}}",
                "spreadsheetId": "1aSr5EXiSzNZIyl6EEDgdQo4QiLOdk4EqOg7tB8VWa4E"
            },
            "metadata": {
                "designer": {
                    "x": 636,
                    "y": -2
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (jefferson.cuenca.b@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "list",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "tq",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "0",
                        "type": "number",
                        "label": " (A)"
                    },
                    {
                        "name": "1",
                        "type": "date",
                        "label": " (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": " (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": " (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": " (E)"
                    },
                    {
                        "name": "5",
                        "type": "number",
                        "label": " (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": " (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": " (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": " (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": " (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": " (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": " (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": " (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": " (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": " (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": " (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": " (Q)"
                    },
                    {
                        "name": "17",
                        "type": "number",
                        "label": " (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": " (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": " (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": " (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": " (V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": " (W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": " (X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": " (Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": " (Z)"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 2,
                "rowSeparator": "\n"
            },
            "mapper": {
                "value": "De {{2.`2`}} a {{2.`3`}}"
            },
            "metadata": {
                "designer": {
                    "x": 994,
                    "y": -6
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Google Sheets - Search Rows (Advanced) [2]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "New row"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 10,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3437924
            },
            "mapper": {
                "model": "gpt-4o-2024-08-06",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "Horario de atención:\nLunes a viernes: 8:00 a 13:00 y 14:00 a 17:00\nSábados: 8:00 a 13:00\nDomingos: cerrado\n\nFecha actual: {{8.Fecha}}\nHora actual: {{11.Hora}}\n\nHorarios reservados para el {{1.fecha}}:{{3.text}}\nA continuación, se mostrarán los horarios disponibles para citas de 30 minutos cada una. No se incluirán los horarios ya reservados ni aquellos que ya han pasado si la consulta es para el mismo día.\n\nSi la cita es para hoy ({{1.fecha}} = {{8.Fecha}}), solo se mostrarán los horarios disponibles que estén después de la hora actual.\nAdemás, no se podrán realizar reservas en fechas anteriores a la fecha actual."
                    }
                ],
                "max_tokens": "0",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 1462,
                    "y": -11
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-2024-08-06 (system)"
                        },
                        "top_p": {
                            "empty": true
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "HoraActual",
                "scope": "roundtrip",
                "value": "{{formatDate(now; \"HH:mm:ss\"; \"America/Lima\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 1932,
                    "y": -8
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "HoraActual",
                        "type": "any",
                        "label": "HoraActual"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-sheets:updateCell",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2621913
            },
            "mapper": {
                "cell": "Z1",
                "value": "{{9.HoraActual}}",
                "select": "map",
                "sheetId": "{{1.especialidad}}",
                "spreadsheetId": "1aSr5EXiSzNZIyl6EEDgdQo4QiLOdk4EqOg7tB8VWa4E",
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 2345,
                    "y": -2
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (jefferson.cuenca.b@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "list",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "cell",
                        "type": "text",
                        "label": "Cell",
                        "required": true
                    },
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet Name",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{10.result}}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 2778,
                    "y": -6
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}