Make/Consultar_cita_existente.json
{
    "name": "Consultar_cita_existente",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1458339,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "consultar_cita_existente"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text"
                    },
                    {
                        "name": "id_especialidad",
                        "type": "text"
                    },
                    {
                        "name": "especialidad",
                        "type": "text"
                    },
                    {
                        "name": "documento_nacional",
                        "type": "text"
                    },
                    {
                        "name": "carne_extranjeria",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2621913
            },
            "mapper": {
                "from": "share",
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "{{1.id}}",
                            "o": "text:equal"
                        },
                        {
                            "a": "F",
                            "b": "{{1.documento_nacional}}",
                            "o": "text:equal"
                        },
                        {
                            "a": "G",
                            "b": "{{1.carne_extranjeria}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "{{1.especialidad}}",
                "sortOrder": "asc",
                "spreadsheetId": "1aSr5EXiSzNZIyl6EEDgdQo4QiLOdk4EqOg7tB8VWa4E",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from all"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "edit"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (jefferson.cuenca.b@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "ID (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Fecha (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Hora inicio (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Hora fin (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Nombre Paciente (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Documento Nacional (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Carne Extranjeria (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Especialidad (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "Doctor (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "Estado (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "Facilidad Uso (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "Claridad Rpta (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "Rapidez Rpta (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "Satisfacción (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "Disp idiomas (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "Recomendaria (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "Comentarios (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "Cambios Datos (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "Hora Consulta  (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "Hora Reserva (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "Medicion Tiempo (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "Last ID (V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "10004 (W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "Hora Consulta (Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "8:02:21 (Z)"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "Detalles de la cita\n\nID de la cita: {{2.`0`}}\nFecha: {{2.`1`}}\nHora de inicio: {{2.`2`}}\nHora de fin: {{2.`3`}}\nNombre del paciente: {{2.`4`}}\nDocumento de identidad: {{2.`5`}} o {{2.`6`}}\nEspecialidad: {{2.`7`}}\nDoctor: {{2.`8`}}\nEstado: {{2.`9`}}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}